@import url(https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700,800,900);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.Header {
  z-index: 100;
  width: 100%;
  background: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;

  .Header_Wrapper {
    width: 95%;
    padding: 13px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .Logo {
      color: #802224;
      font-family: "Playfair Display";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .bet_links {
      width: 55%;
      display: flex;
      justify-content: space-between;
      .Links {
        display: flex;
        .link {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 6px 20px;
          height: 41px;
          flex-shrink: 0;
          color: #000;

          font-family: "Playfair Display";
          font-size: 24px;
          font-weight: 400;
          text-decoration: none;
          &:hover {
            color: black;
            background-color: #fff;
          }
        }
      }
      .Donate {
        .Donate_Link {
          display: inline-flex;
          padding: 6px 20px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border: 1px solid #802224;

          color: #000;

          font-family: "Playfair Display";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}
